div.notij-que {
	position: fixed;
	width: 200px;
	left:10px;
	bottom:10px;
}

div.notij-que * {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.notij {
	font-size:12px;
	color:#555;
	display:none;
	padding:10px;
	position:relative;
	margin-bottom:5px;
	/*adding border radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.notij-msg{
	padding-right: 20px;
	font-size: 12px;
	color: #FFF;

}

.notij-close {
	position:absolute;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:800;
}

.theme_default {
	background:#414141;
}

.close_default {
	color:#999;
}

.theme_error {
	background:#FF3333;
}

.close_error {
	color:#FFEDFD;
}

.theme_info {
	background:#0099FF;
}

.close_info {
	color:#33CCFF;
}
